@model List<DemoCrud.Models.UserDataModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div style="height:50px;">
        <div style="height:15px;"></div>
        <input type="button" value="Insert User" onclick="location.href='home/insert'">
    </div>
    <div>
        <div class="topbox column"></div>
        <div class="topname column">Name</div>
        <div class="topage column">Age</div>
        <div class="topcity column">City</div>
    </div>
    <hr size="1" align="center" width="100%" style="margin:5px;">

    @foreach (var item in Model)
    {
        <div>
            <div class="topbox column"></div>
            <div class="topname column">@item.name</div>
            <div class="topage column">@item.age</div>
            <div class="topcity column">@item.city</div>
            <input class="updateData" data-pk="@item.pk" type="button" style="width:65px;" value="Edit">
            <input class="deleteData" data-pk="@item.pk" type="button" style="width:65px;" value="Delete">
        </div>
    }

    <div style="height:150px;"></div>
</div>
<script>
    window.onload = function() {
        $('.updateData').click(function () {
            location.href = 'home/update?pk=' + this.getAttribute('data-pk');
        });

        $('.deleteData').click(function () {
            $.ajax({
                type: 'POST',
                url: 'home/delete',
                data: {
                    pk: this.getAttribute('data-pk')
                },
                success: function (data) {
                    location.href = '/';
                },
            });
            
        });
    }

</script>